
.main {
    background-color: yellow;


}

.container {
    margin: auto;
    max-width: 1280px;
    font-family: sans-serif;
    background-color: rgb(78, 94, 94);
  }

  .heading {
    color: rgb(119, 189, 134);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
    color: wheat;
  }
  .nav-link-text {
    color: rgb(131, 41, 41);
    font-size: medium;
  }
  
   

    body {
      color: hsla(0, 0%, 0%, 0.8);
      font-family: georgia, serif;
      font-weight: normal;
      word-wrap: break-word;
      font-kerning: normal;
      background-color: rgb(15, 15, 15);
    }
  

    .projects-box {
      border-color: rgb(23, 0, 128);
      border-width: 10px;
      border-style: solid;
      border-radius: 10px;
      border-radius: 50%;
      background-color: green;
    }


